@page "/AnswersCorrection"
@attribute [Authorize(Roles = "Admin")]
@inject ApplicationDbContext _context

<h3>Answers Correction</h3>

<header class="row">
    <div class="col">
        <h4>Pending Correction Answers</h4>
    </div>
    <div class="col">
        <h4>Corrected Answers</h4>
    </div>
</header>

<main class="row">
    <div class="col">
        @{
            var n1 = 0;
            var lim1 = PendingCorrectionAnswers.Count;
        }

        <Virtualize Items="PendingCorrectionAnswers">
            <div class="my-4 p-4 border rounded">
                <p>
                    @(n1++ % lim1 + 1).
                    <span class="font-weight-bold">@context.Question.Body</span>
                </p>

                @switch (context.Question.Type)
                {
                    case "Essay":
                        <div class="form-group">
                            <textarea disabled class="form-control" rows="7">@context.StringAnswer</textarea>
                        </div>
                        break;

                    case "Submit File":
                        <ViewFileInfo FilePath="@context.StringAnswer"/>
                        break;
                }

                <div>
                    <button @onclick="() => CorrectAnswer(context, true)" class="btn btn-success">
                        @(context.IsCorrect == true ? "✔" : "") Mark answer as correct
                    </button>
                    <button @onclick="() => CorrectAnswer(context, false)" class="btn btn-danger">
                        @(context.IsCorrect == false ? "✔" : "") Mark answer as incorrect
                    </button>
                </div>
            </div>
        </Virtualize>
    </div>
    <div class="col">
        @{
            var n2 = 0;
            var lim2 = CorrectedAnswers.Count;
        }

        <Virtualize Items="CorrectedAnswers">
            <div class="my-4 p-4 border rounded">
                <p>
                    @(n2++ % lim2 + 1).
                    <span class="font-weight-bold">@context.Question.Body</span>
                </p>

                @switch (context.Question.Type)
                {
                    case "Essay":
                        <div class="form-group">
                            <textarea disabled class="form-control" rows="7">@context.StringAnswer</textarea>
                        </div>
                        break;

                    case "Submit File":
                        <ViewFileInfo FilePath="@context.StringAnswer"/>
                        break;
                }

                <div>
                    <button @onclick="() => CorrectAnswer(context, true)" class="btn btn-success">
                        @(context.IsCorrect == true ? "✔" : "") Mark answer as correct
                    </button>
                    <button @onclick="() => CorrectAnswer(context, false)" class="btn btn-danger">
                        @(context.IsCorrect == false ? "✔" : "") Mark answer as incorrect
                    </button>
                </div>
            </div>
        </Virtualize>
    </div>
</main>

@code {

    private List<Answer> Answers { get; set; } = new();
    private List<Answer> CorrectedAnswers => Answers.Where(answer => answer.IsCorrect != null).ToList();
    private List<Answer> PendingCorrectionAnswers => Answers.Where(answer => answer.IsCorrect == null).ToList();

    protected override async Task OnInitializedAsync()
    {
        Answers = await _context.Answers
            .Include(answer => answer.Question)
            .Where(answer => new[] {"Essay", "Submit File"}.Contains(answer.Question.Type))
            .Where(answer => answer.StringAnswer != null)
            .OrderByDescending(answer => answer.Question.Id)
            .ToListAsync();
    }

    private async Task CorrectAnswer(Answer answer, bool isCorrect)
    {
        _context.Update(answer);
        await _context.SaveChangesAsync();
        answer.IsCorrect = isCorrect;
        StateHasChanged();
    }

}