@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject IWebHostEnvironment _env

@if (!string.IsNullOrWhiteSpace(FilePath))
{
    var fileInfo = GetFileInfo(FilePath);


    <MudSimpleTable Hover="true" Striped="true">
        <tbody>
        <tr>
            <th>Name</th>
            <td>@fileInfo.Name</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>@fileInfo.Length.ToString("n0") Bytes</td>
        </tr>
        <tr>
            <th>Last Modified At</th>
            <td>@fileInfo.LastWriteTime</td>
        </tr>
        <tr>
            <td colspan="2">
                <MudButton Link="@FilePath" Target="_blank" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FileDownload">
                    Download
                </MudButton>
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>
}
else
{
    <MudText Typo="Typo.subtitle1">No file uploaded yet.</MudText>
}

@code {

    [Parameter]
    public string FilePath { get; set; }

    private FileInfo GetFileInfo(string path)
    {
        var absolutePath = Path.Combine(_env.ContentRootPath, path);
        return new FileInfo(absolutePath);
    }

}