@page "/TestSchedules"
@attribute [Authorize(Roles = "Admin, Participant")]
@inject ApplicationDbContext _context

<h3>Test Schedules</h3>

<ServerTime/>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var set in QuestionSets)
        {
            <tr class="@GetTrClassByStatus(set) ">
                <td class="align-middle">@set.Title</td>
                <td class="align-middle">@set.StartAt?.ToString("U")</td>
                <td class="align-middle">@set.EndAt?.ToString("U")</td>
                <td class="align-middle">@set.Status</td>
                <td class="align-middle">
                    @if (set.Status == "Ongoing")
                    {
                        <NavLink href="@($"/TestAnswer/{set.Id}")" class="btn btn-primary">Answer</NavLink>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    private List<QuestionSet> QuestionSets { get; set; }

    protected override Task OnInitializedAsync()
    {
        QuestionSets = _context.QuestionSets
            .Where(questionSet => questionSet.StartAt != null)
            .Where(questionSet => questionSet.EndAt != null)
            .ToList();

        return base.OnInitializedAsync();
    }

    private static string GetTrClassByStatus(QuestionSet questionSet)
    {
        return questionSet.Status switch { "Ongoing" => "bg-success text-white", _ => "" };
    }

}