@page "/TestAnswer/{id?}"

@attribute [Authorize(Roles = "Admin, Participant")]

@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging
@using RDTWEB.Data

@inject ApplicationDbContext Context
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager
@inject IWebHostEnvironment Env
@inject ILogger<TestAnswer> Logger

<h3>Information</h3>

<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Title</th>
                <td>@QuestionSet.Title</td>
            </tr>
            <tr>
                <th>Start At</th>
                <td>@QuestionSet.StartAt</td>
            </tr>
            <tr>
                <th>End At</th>
                <td>@QuestionSet.EndAt</td>
            </tr>
        </tbody>
    </table>
</div>

<section>
    @for (var i = 0; i < QuestionSet.Questions.Count; i++)
    {
        var question = QuestionSet.Questions[i];

        <div class="my-4 p-4 border rounded">
            <p>
                @(i + 1).
                <span class="font-weight-bold">@question.Body</span>
            </p>

            @switch (question.Type)
            {
                case "Multiple Choice":
                case "Multiple Answer List":
                    @for (var j = 0; j < question.Choices.Count; j++)
                    {
                        var idx = j;

                        <div class="form-group form-inline">
                            <input @onchange="() => question.Answer.ChosenIndex = idx" checked="@(question.Answer.ChosenIndex == idx)" class="form-check-input" type="checkbox" />
                            <input disabled value="@question.Choices[idx]" type="text" class="form-control flex-fill" placeholder="Multiple Answer Choice #@(idx + 1)" />
                        </div>
                    }
                    break;

                case "Boolean (true or false)":
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input @onchange="() => question.Answer.BooleanAnswer = true" checked="@question.Answer.BooleanAnswer" class="form-check-input" type="radio" id="true">
                            <label class="form-check-label" for="true">True</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input @onchange="() => question.Answer.BooleanAnswer = false" checked="@(!question.Answer.BooleanAnswer)" class="form-check-input" type="radio" id="false">
                            <label class="form-check-label" for="false">False</label>
                        </div>
                    </div>
                    break;

                case "Essay":
                    <div class="form-group">
                        <textarea @bind="question.Answer.StringAnswer" class="form-control" rows="7"></textarea>
                    </div>
                    break;

                case "Submit File":
                    <div class="form-group">
                        <InputFile OnChange="e => question.Answer.BrowserFile = e.File" class="form-control-file" />
                    </div>

                    <ViewFileInfo FilePath="@question.Answer.StringAnswer" />
                    break;
            }
        </div>
    }
</section>

@if (AreAnswersSaved)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Answers saved.
        <button @onclick="() => AreAnswersSaved = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<button @onclick="OnSave" class="btn btn-success">Save</button>
<NavLink href="/TestSchedules" class="btn btn-secondary">Back</NavLink>

@code {
    [Parameter]
    public string Id { get; set; }

    public QuestionSet QuestionSet { get; set; }
    public bool AreAnswersSaved { get; set; } = false;

    protected override async Task<Task> OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        QuestionSet = Context.QuestionSets
            .Include(QuestionSet => QuestionSet.Questions)
            .ThenInclude(Question => Question.Answer)
            .Single(QuestionSet => QuestionSet.Id.ToString() == Id);

        QuestionSet.Questions.ForEach(Question =>
        {
            if (Question.Answer != null)
            {
                return;
            }

            Question.Answer = new Answer
            {
                UserId = UserManager.GetUserId(state.User)
            };
        });

        return base.OnInitializedAsync();
    }

    public async Task OnSave()
    {
        await Task.WhenAll(QuestionSet.Questions.Select(async Question =>
        {
            if (Question.Type != "Submit File" || Question.Answer.BrowserFile == null)
            {
                return;
            }

            var previousPath = Question.Answer.StringAnswer;

            var name = Question.Answer.BrowserFile.Name;
            var extension = name.Substring(name.LastIndexOf("."));

            var path = Path.Combine("Storage", "Answers", Path.GetRandomFileName() + extension);
            using var file = File.Create(path);
            file.Seek(0, SeekOrigin.Begin);
            await Question.Answer.BrowserFile.OpenReadStream(maxAllowedSize: 512000000).CopyToAsync(file);

            Question.Answer.StringAnswer = path;
            Question.Answer.BrowserFile = null;

            if (!string.IsNullOrWhiteSpace(previousPath))
            {
                var absolutePath = Path.Combine(Env.ContentRootPath, previousPath);
                File.Delete(absolutePath);
            }
        }));

        Context.Update(QuestionSet);
        Context.SaveChanges();

        AreAnswersSaved = true;
    }
}
